<section>

  <!-- From Uiverse.io by Yaya12085 --> 
  <form class="form">
    <p class="title">რეგისტრაცია </p>
    <p class="message">დარეგისტრირდი ახლავე და მიიღე სრული წვდომა. </p>
        <div class="flex">
        <label>
            <input required="" placeholder="" type="text" class="input">
            <span>სახელი</span>
        </label>

        <label>
            <input required="" placeholder="" type="text" class="input">
            <span>გვარი</span>
        </label>
    </div>  
            
    <label>
        <input required="" placeholder="" type="email" class="input">
        <span>ელ-ფოსტა</span>
    </label> 
        
    <label>
        <input required="" placeholder="" type="password" class="input">
        <span>პაროლი</span>
    </label>
    <label>
        <input required="" placeholder="" type="password" class="input">
        <span>დაადასტურე პაროლი</span>
    </label>
    <button class="submit">რეგისტრაცია</button>
    <p class="signin">უკვე ავტორიზებული ხართ? <a routerLink="/login">ავტორიზაცია</a> </p>
  </form>

</section>